<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Welcome Home</title>
</head>
<body>
    <h1 class="title">
        Hello <%= name %>!
    </h1>
    <h2 class="secondary">It's <%= dayType %>, <%= advice %></h2>
    <div>
        <a href="/">Go back</a>
    </div>
</body>
</html>
