body {
    height: 100vh;
    background-image: url("./assets/background-img.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;   
}


.title {
    color: #8b8884;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    animation: crimson-back 1s 300ms;
}
@keyframes crimson-back {
    50% { color: crimson; }
}

.title:hover {
    animation: rotate-back-and-forth 0.5s;
}

@keyframes rotate-back-and-forth {
    0% {transform: rotate(0deg);}
    30% {transform: rotate(20deg);}
    70% {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
}
