body {
    height: 100vh;
    background-image: url("./assets/background-img.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;   
    color: #8b8884;
}


.title {
    color: #8b8884;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    animation: rotate-back-and-forth 0.5s 300ms;    
}
@keyframes crimson-back {
    30% { color:rgb(194, 143, 243); }
}

.title:hover {
    animation: crimson-back 1s;
}

/* .title:hover {
    animation: rotate-back-and-forth 0.5s;
} */

@keyframes rotate-back-and-forth {
    0% {transform: rotate(0deg);}
    30% {transform: rotate(20deg); color:#c28ff3;}
    70% {transform: rotate(-20deg); color:#c28ff3;}
    100% {transform: rotate(0deg);}
}


.form-group {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    width: 250px;
}

.name-input {
    width: 100%;
    padding: 8px 5px;
    font-size: 16px;
    background-color: #dbdbdb;
    border: 1px solid #827e7a;
    border-style: none none solid none;
    outline: none;
    box-sizing: border-box;
}

label {
    color: #6d6b69;
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 18px;
    pointer-events: none;
    transition: all 0.5s ease;
}

.name-input:focus + label {
    transform: translateY(-30px);
    color: #c28ff3;
}

.name-input:not(:placeholder-shown) + label {
    transform: translateY(-30px);
    color: #c28ff3;
}

.name-input:focus {
    border: 1px solid #c28ff3;
    border-style: none none solid none;
}

.info-list {
    list-style-type: circle;
    list-style-position: inside;
}

a {
    color:cadetblue;
}

h2 {
    margin-top: 0;
}

.btn:active {
    background-color: cadetblue;
    color: white;
}
